# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions

apikey-p4mambpljuws4b1mbk3t3exnow1tmrfyut20us4y